<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Drive</title>
</head>
<body>
Hello from drive page!
<br>
<span th:each="breadcrumb, iter : ${breadcrumbs}">
    <a th:text="${breadcrumb.folderName}" th:href="@{/drive(path=${breadcrumb.folderLink})}"> </a>
    <span th:if="!${iter.last}"> --- </span>
</span>

<ul>
    <li th:each="file: ${files}">
        <a th:if="${file.dir}" th:href="@{/drive(path=${file.path})}" th:text="${file.name}"> </a>
        <span th:unless="${file.dir}" th:text="${file.name}"> </span>
    </li>
</ul>
</body>
</html>